// ----------------------------------------------------
// Form Styles
// ----------------------------------------------------
%form-element-interaction-states {
  @include box-shadow(transparent 0 0 10px, lighten($border-color, 10%) 0 1px 2px inset, #fff 0 1px 0);
  @include transition(all, 250ms);
  border: 1px solid $border-color;
  &:focus, &.focus,
  &:hover, &.hover {
    @include box-shadow(lighten(desaturate($alert-message, 40%), 20%) 0 0 10px, lighten($border-color, 10%) 0 1px 2px inset, #fff 0 1px 0);
    border-color: $alert-message;   
    outline: none;
  }
  &[disabled="disabled"],
  &[disabled], 
  &.disabled,
  fieldset[disabled] & {
    background-color: lighten($border-color, 16%);
    &:focus, &.focus,
    &:hover, &.hover {
      border-color: $border-color;
      @include box-shadow(none);
    }
  }
}

.field {
  input[type="text"],
  input[type="url"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="month"],
  input[type="week"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="password"],
  input[type="search"],
  textarea {
    @include border-radius($border-radius);
    @extend %form-element-interaction-states;
  }
}

.field input[type="search"] {
  @include border-radius($baseline);
}

// fieldset
// ----------------------------------------------------------------
fieldset {
  border: 1px solid $border-color;
  margin: 0 0 $baseline*2;
  padding: $baseline;
}

legend { 
  margin: 0;
  padding: 0;
  h2 {
    margin: 0;
    padding: 0;
  }
}

// Help Text
// ----------------------------------------------------------------
.help-text {
  color: lighten($text-color, 60%);
}

// Required
// ----------------------------------------------------------------
abbr[title] {
  color: $alert-error;
}
input[required] {
  background-color: lighten($alert-warning, 15%);   
}

// Error / Invalid Fields
// ----------------------------------------------------------------
.invalid {
  label {
    color: $alert-error;
  }
  input[type], 
  textarea,
  .custom-checkbox-input,
  .custom-radio-input {
    border-color: $alert-error;
    &:hover, &:focus, &.hover, &.focus {
      border-color: $alert-error;
      @include box-shadow(lighten($alert-error, 10%) 0 0 10px, lighten($border-color, 10%) 0 1px 2px inset, #fff 0 1px 0);
    }
  }
  .error {
    color: #fff;
    background-color: $alert-error;
    @include border-radius($baseline*2);
  }
}

// Custom Options (checkboxes & radio buttons)
// ----------------------------------------------------------------
.custom-checkbox-input,
.custom-radio-input {
  background-color: #fff;
  @extend %form-element-interaction-states;
}

.custom-checkbox-input {  
  &.checked:after {
    background-color: transparent;
    content: "\2713";
    color: $blue;
    font-family: "Amwins Icons";
  }
}

.custom-radio-input {
  @include border-radius($baseline);
  &.checked:after {
    background-color: $blue;
    @include border-radius($baseline); 
  }
}

// ----------------------------------------------------------------
// Custom Select
// ----------------------------------------------------------------
.custom-select-basic {
  @extend %form-element-interaction-states;
  @include border-radius($border-radius);
  @include background-image(linear-gradient(lighten($border-color, 15%), lighten($border-color, 10%)));
  &:before {
    @include arrow(top, darken($border-color, 20%), 4px);
  }
  &:after {
    @include arrow(bottom, darken($border-color, 20%), 4px);
  }
  &:hover, .hover, 
  &:focus, .focus {
    &:before {
      border-bottom-color: $alert-message;  
    }
    &:after {
      border-top-color: $alert-message;  
    }
    .custom-select-list {
      display: block;
    }
  }
}

.custom-select-list {
  @extend %form-element-interaction-states;
  @include border-radius($border-radius);
  background-color: #fff;
  border: 1px solid $border-color;
  width: 100%;
  li{
    &:first-child {
      @include border-top-radius($border-radius(-1));
    }
    &:last-child {
      @include border-bottom-radius($border-radius(-1));
    }
    &:hover, .hover,
    &:focus, .focus {
      background-color: $alert-message;
      color: #fff;
    }
  }
}